@font-face {
    font-family: bluensia;
    src: url(bluenesia.ttf);
}

*{
    font-family: bluensia;
    box-sizing: content-box;
}


body,html{
    margin: 0px;
    background-color: #ccc;
}

/* logo */

#logo{
    display: block;
    position: absolute;
    left: 1rem;
    color:#aaa;
    background-color: #333;
    padding: 1rem;
    cursor: default;
    transition: background-color .5s;
}
#logo:hover{
    background-color: #111;
}

@media screen and (max-width: 580px) {
    #logo {
      display:none;
    }
}

/* navbar */

.navbar{
    position: relative;
    display:flex;
    flex-direction: row;
    background-color: #333;
    justify-content: center;
}

.navbar>a{
    color:#aaa;
    text-decoration: none;
    background-color: #333;
    padding: 1rem;
    transition: background-color .3s;
}

.navbar>a:hover{
    background-color: #555;
}

.navbar a.selected{
    background-color: #555;
}

/* main */

main.main{
    padding: 1rem;
}

/* section */

section.section{
    display: flex;
    flex-direction: column;
    opacity: 1;
    animation-name: fade-in;
    animation-duration: 1s;
}

/* resulttable */

table.resulttable {
    margin: 1rem 0rem;
    border-collapse: collapse;
    cursor: default;
    color:#ccc;
}

table.resulttable td, table.resulttable th{
    padding: .5rem;
    text-align: center;
}

table.resulttable thead tr{
    background-color: #333;
}

table.resulttable tbody tr:hover{
    scale:1.05
}

table.resulttable tbody tr {
    background-color: #666;
    opacity: 1;
    animation-name: fade-in;
    animation-duration: 1s;
}

table.resulttable tbody tr:nth-child(odd) {
    background-color: #555;
}

/* categoryselect */

#categoryselect{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

#categoryselect span{
    background-color: #999;
    color:#ccc;
    padding: 0.5rem;
    cursor: pointer;
}

#categoryselect span:hover{
    background-color: #888;
}

#categoryselect span.selected{
    background-color: #666;
}

/* buttons */

.green{
    background-color: rgb(77, 131, 78);
}

.red{
    background-color: rgb(131, 77, 77);
}

.transparent{
    background-color: rgba(255, 255, 255, 0);
}

button{
    border: none;
    padding: 0.5rem;
    background-color: rgb(134, 134, 134);
    color:#ccc;
    width: max-content;
    cursor: pointer;
}

button:hover{
    filter: brightness(1.1);
}

button:disabled{
    filter:opacity(0.5)
}

/* input text */

input[type=text]{
    border:none;
    height: 1.8rem;
    width: 8rem;
    outline: none;
}

/* misc */

.flexrow{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem
}

.hoverspin{
    transition: transform 1s;
    transform: rotate(0turn);
}

.hoverspin:hover{
    transform: rotate(90deg);
}

.nomargin{
    margin:0px;
}

.nopadding{
    padding:0px;
}

/* animation */

@keyframes fade-in {
    from {opacity:0}
    to {opacity:1;}
}