@font-face {
    font-family: bluensia;
    src: url(bluenesia.ttf);
}

*{
    font-family: bluensia;
    box-sizing: content-box;
    color:#ccc;
}


body,html{
    margin: 0px;
    background-color: #ccc;
    overflow-x: hidden;
}

/* logo */

#logo{
    display: block;
    position: absolute;
    left: 1rem;
    color:#aaa;
    background-color: #333;
    padding: 1rem;
    cursor: default;
    transition: background-color .5s;
}
#logo:hover{
    background-color: #111;
}

@media screen and (max-width: 580px) {
    #logo {
      display:none;
    }
}

/* navbar */

.navbar{
    position: relative;
    display:flex;
    flex-direction: row;
    background-color: #333;
    justify-content: center;
}

.navbar>a{
    color:#aaa;
    text-decoration: none;
    background-color: #333;
    padding: 1rem;
    transition: background-color .3s;
}

.navbar>a:hover{
    background-color: #555;
}

.navbar a.selected{
    background-color: #555;
}

/* main */

main.main{
    padding: 1rem;
}

/* section */

section.section{
    display: flex;
    flex-direction: column;
    opacity: 1;
    animation-name: fade-in;
    animation-duration: 1s;
    min-width: 18rem;
    max-width: 25rem;
    width: 80%;
}

/* resulttable */

table.resulttable {
    border-collapse: collapse;
    cursor: default;
    color:#ccc;
    min-width: 18rem;
}

table.resulttable td, table.resulttable th{
    padding: .5rem;
    text-align: center;
}

table.resulttable thead tr{
    background-color: #333;
}

table.resulttable tr *::selection{
    background-color: transparent;
}

table.resulttable tr td:first-child{
    max-width: 3rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

table.resulttable tr th:hover{
    background-color: rgba(23, 23, 23, 0.4);
    cursor: pointer;
}

table.resulttable tr td:hover{
    background-color: rgba(34, 34, 34, 0.4);
}


table.resulttable tbody tr:hover{
    scale:1.05
}

table.resulttable tbody tr {
    background-color: #666;
    opacity: 1;
    animation-name: fade-in;
    animation-duration: 1s;
}

table.resulttable tbody tr:nth-child(odd) {
    background-color: #555;
}

table.resulttable tbody a[href] {
    text-decoration: none;
    cursor:alias;
}

span.sorter{
    display:inline-block;
}

span.sorter[data-sort="none"]{
    opacity: 0;
}

span.sorter[data-sort="asc"]{
    transform:rotate(90deg);
}

span.sorter[data-sort="desc"]{
    transform:rotate(-90deg);
}

/* categoryselect */

#categoryselect{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

#categoryselect span{
    background-color: #999;
    color:#ccc;
    padding: 0.5rem;
    cursor: pointer;
}

#categoryselect span:hover{
    background-color: #888;
}

#categoryselect span.selected{
    background-color: #666;
}

/* color */

.darkfont{
    color:#333;
}

.green{
    background-color: #4d834e;
}

.red{
    background-color: #834d4d;
}

.blue{
    background-color: #4d6283;
}

.transparent{
    background-color: #ffffff00;
}

.grey{
    background-color: #8d8d8d;
}

/* buttons */



button{
    border: none;
    padding: 0.5rem;
    background-color: #868686;
    color:#ccc;
    width: max-content;
    cursor: pointer;
}

button:hover{
    filter: brightness(1.1);
}

button:disabled{
    filter:opacity(0.5);
    cursor:not-allowed;

}

/* input  */

input[type=text],input[type=number]{
    border:none;
    height: 1.8rem;
    width: 8rem;
    outline: none;
    color: #333;
}

/* progress */

progress{
    border: none;
    height: 1.25rem;
    width: 15rem;
}

progress::-moz-progress-bar,progress::-webkit-progress-value{
    background: green;
}

/* misc */

.flexrow{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem
}

.hoverspin{
    transition: transform 1s;
    transform: rotate(0turn);
}

.hoverspin:hover{
    transform: rotate(90deg);
}

.nomargin{
    margin:0px;
}

.nopadding{
    padding:0px;
}

.paddingsmall{
    padding:1rem;
}

.marginsmall{
    margin: 0.5rem 0rem;
}

.rounded{
    border-radius: .5rem;
}

.flexend{
    justify-content: end;
}



/* animation */

@keyframes fade-in {
    from {opacity:0}
    to {opacity:1;}
}

/* options */
/* settings */

.option{
    margin: 0.5rem 0rem;
    background-color: #666;
    padding: 0.5rem;
}

.option>*{
    margin: 0.5rem 0rem;
}

